*{
    padding: 0px;
    margin: 0px;
    font-family: Lato;
    
}
/* Head section */
.header{
    background-color: #fae9ea;
    justify-content: center;
}
.head-title{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-left: 420px;
    padding-top: 116px;
    
}
.background-image{
    height: 450px;
    width: 370px;
    padding-left: 300px;
    padding-top: 20px;
}

.head-background{
    display: flex;
}
.button-head{
    background-color: #E55473; 
    border:none;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
    color: white;
}
.btn{
        border: none;
        text-align: center;
        display: inline-block;
        margin: 5px 5px;
        padding-left: 400px;
        padding-top: 10px;
        
}

.head-paragraph{
    padding-left: 420px;
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.60);;

}
/* Featured */

.featured{
    color: black;
    font-size: 15px;
}
.featured-title{
    padding-top: 50px;
    text-align: center;
}
.carve-card{
    display: flex;
    gap: 45px;
    
    justify-content: center;
    
}

.card-1{
    position: relative;
    width: 280px;
    height: 320px;
    background-color: plum;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    margin-bottom: 20px;
    margin-top: 40px;
    
}
.purple{
    position: absolute;
    height: 270px;
    width: 200px;
    padding-top: 50px;
    text-align: center;
    padding-left: 50px;
    
}

.card-2{
    position: relative;
    width: 280px;
    height: 320px;
    background-color: lightblue;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    margin-bottom: 20px;
    margin-top: 40px;
    
}
.blue{
    position: absolute;
    height: 270px;
    width: 230px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.card-3{
    position: relative;
    width: 280px;
    height: 320px;
    background-color: gainsboro;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    margin-bottom: 20px;
    margin-top: 40px;
    
}
.gray{
    position: absolute;
    height: 287px;
    width: 220px;
    padding-top: 30px;
    padding-left: 30px;
}

.pink-flower{
    display: flex;
    padding-top: 20px;
    text-decoration: underline;
    padding-bottom: 60px;
}
.flower-tree-1{
    padding-right: 200px;
    padding-left: 550px;
}
.flower-tree-2{
    display: flex;
    
    padding-right: 180px;
}
.flower-tree-3{
    display: flex;
    
    padding-right: 50px;
}

/* service-section */
.service-section{
    background-color: hsl(0, 22%, 96%);
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 50px;
}
.service-card{
    justify-content: center;
    margin-top: 50px;
}

.delivery{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
}

/* Hot Deal */

.hot-deal{
    background-color: #f8f0f2;
    margin-top: 100px;
    padding-top: 50px;
    
}
.deal-off{
    color: #E55473;
}
.sell-text{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
   
}
.sell-paragraph{
    color: gray;
    
   
}
.button-sell{
    background-color: #E55473; 
    margin-top: 50px;
    padding-left: 50px;
    
}
.button {
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 8px;
    
}
.sell-img{
    height: 220px;
    width: 180px;
}
.sell-setion{
    display: flex;
    gap: 150px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

/* Instagram section */

.instagram-text{
    color: gray;
    padding-top: 30px;
    
}
.instagram{
    text-align: center;
    padding-top: 70px;
    
}
.instagram-card{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}
.flower-card{
   height: 220px;
   width: 200px;
   padding-top: 40px;
}

/* Latest Deal */

.latest-title{
    font-weight: bold;
}
.latest-small{
    color: gray;
}
.latest-deal{
    position: relative;
    text-align: center;
    
}
.latest{
    
    text-align: center;

}
.latest-img{
    
    padding-top: 50px;
}
.input{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
.box{
    padding-bottom: 40px;
}
.button-input{
    background-color: #E55473;
}
.email{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-radius: 8px;
    border: none;
}

.input-section{
  background-image: url(../image/Rectangle\ 9.png);
  background-repeat: no-repeat;
  height: 250px;
  width: 850px;
  margin-left: 480px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.input-title{
    text-align: center;
    padding-top: 100px;
}
.input-paragraph{
    justify-content: center;
    text-align: center;
    padding-left: 320px;
}

/* footer */

.footer{
    background-color: black;
}

.footer-text{
    font-size: 30px;
    color: #E55473;
    padding-bottom: 10px;
}
.footer-color{
    font-size: 30px;
    color: white;
}
.footer-small{
    color: white;
    
}
.footer-copyright{
    color: rgb(160, 159, 159);
    padding-top: 20px;
}
.footer-section{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}